
<div class="row">
        <p class="paragItal">The idea behind myMoney is that we need the right tool to manage our personal finances. Some people use Excel, some use a paper and pen, and some use personal accounting software-- but most of us just don’t know what to do. Our financial lives are complicated-- cash, cards, savings, debt-- and we’re not all born gifted accountants.</p>
                <p class="paragItal"> Managing money is a highly important and highly personal issue for us at myMoney. We’re a small team; some of us are single, some are married, and some of us have kids-- but regardless of our situation, but we all face these issues. We’re real people with real problems.
                
        <img class="rightImg" src="Images/budget2.jpg" alt="Smiley face" height="100" width="200">
        </p>
        
        <p class="paragItal">
                So we embarked on a mission to solve our problem and hopefully solve yours. And thus myMoney was born-- a simple, seamless, and intuitive tool to manage your personal finances. We want to give you a 360 view on your money; what comes in, what goes out, what you have saved, what you have budgeted. We want to give you the tools to understand where your money goes, and empower you to set and achieve financial goals.
        </p>
        
        </div>
        <div class="row">
        <p class="paragItal">            
        
                        We hope you enjoy myMoney, and we really want you to tell us you think. Email us at santhoshg9793@gmail.com, or reach out to any of us directly on our social media accounts. You can learn more about the team below, and follow our plans and achievements.

                        Our priority is to keep myMoney free and awesome. It’s going to be a great ride!
                
        </p>
        </div>