
<div class="row">
<p class="parag">Find it hard to keep track of where the money goes? Try carrying around a notebook for a month or two.Write down every purchase paid for with cash (parking, coffee, lunch etc). And add in any receipts for bill payments, etc to get the full spending picture.</p>
        <p class="parag"> When it comes to tracking money, the key is to capture all expenses.
        
<img class="rightImg" src="Images/budget1.jpg" alt="Smiley face" height="100" width="200">
</p>

<p class="parag">
        Most people only track their spending for a couple of weeks so that they can see where their money is actually going. Other people only track certain types of expenses, like where they spend their cash.
</p>

</div>
<div class="row">
<p class="parag">
                <img class="leftImg" src="Images/tips.jpg" alt="Smiley face" height="50" width="50">

        Little things like ice creams and parking money really add up, so we’ll need to make sure and include them.
        
</p>
</div>